.header{
		background: #bdc3c7;
	/*width: 50%;
	border: 10px solid #bdc3c7;
	margin-left: 25%;
	margin-right: 25%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom: 2%;*/
	max-width: 700px;
	width: 80%;
	padding: 20px;
	margin: 20px auto;
}
.content {
	border: 2px solid #bdc3c7;
	/*width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom: 2%;*/
	max-width: 700px;
	width: 80%;
	padding: 20px;
	margin: 20px auto;